h1{
  border-style: solid;
  border-color: #9966CC;
  background-color: #9966CC;
  text-align: center;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h2{
  border-style: solid;
  border-color: #CC99FF;
  background-color: #CC99FF;
  text-align: left;
  margin: 0.7rem;
  padding: 0.5rem;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body{
  text-align: center;
}

video{
  align: center;
}
