.container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
}

body{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
}

.container.xfs{
  background-color: #9966CC;
}

h3,h5{
  background-color: #9966FF;
  margin: 0.7rem;
  padding: 0.5rem;
}

.box{
  display: flex;
  justify-content: center;
}

img{
  width: 100%;
}

.column {
  width: 30%;
}

@keyframes animation {
    transform: rotate(90deg);
}

div {
  transition: all 0.3s ease-in-out;
  animation-name: animation;
  animation-duration: 4s;
  color: white;
}
